html {
  color: white;
  background-color: black;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 400px;
  text-align: center;
}
.ball {
  margin: auto;
  width: 100px;
  height: 100px;
  background-color: rgb(59, 134, 119);
  border-radius: 50%;
  position: relative;
}
